@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2e7b10;
  --hover: #185c11;
  --green-50: #f4f9f4;
  --green-100: #ddebdd;
  --green-200: #d1e2d0;
  --green-300: #accbaa;
  --green-400: #7fab7d;
  --green-500: #5c8d5a;
  --green-600: #497247;
  --green-700: #3c5b3a;
  --green-800: #314a31;
  --green-900: #2b3c2a;
  --green-950: #132013;
  --gray-50: #e4e4e7;
  --nav-height: 4.8rem;
  --section-py: 4.5em;
  --m-inline: 1rem;
}

/* 메뉴바 오픈 시 스크롤 잠금 설정 */
html:has(#nav-menus[data-open="true"]) {
  overflow: hidden;
  height: 100dvh;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer components {
  .text-heading {
    @apply text-xl font-extrabold;
  }
  .content-inner {
    @apply px-4 max-w-screen-lg mx-auto;
  }
  .text-15 {
    font-size: 0.9375rem;
  }
  .text-17 {
    font-size: 1.0625rem;
  }
  .full-screen {
    @apply min-h-[calc(100vh_-_var(--nav-height))] supports-[min-height:100svh]:min-h-[calc(100svh_-_var(--nav-height))];
  }
}

/* 
// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.noto-sans-kr-<uniquifier> {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--green-950);
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  word-break: keep-all;
  overflow-wrap: break-word;
}
